<!doctype html><html lang=""><head>
  <title>Freakshow TX - Home</title>
  <meta charset="UTF-8">
  <meta name="generator" content="Silex v2.2.14">
  <!-- leave this for stats -->
  <script src="js/jquery.js"></script>
  

  
  <script src="js/front-end.js"></script>
  <!-- Normalize -->
  <link href="css/normalize.css" rel="stylesheet">
  <!-- Silex style -->
  <link href="css/front-end.css" rel="stylesheet">

  
  
  
  




























  




  
















































  
  
  
<link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet" class="silex-custom-font"><meta name="viewport" content="width=device-width, initial-scale=1"><link href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" rel="stylesheet"><script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script><script src="js/script.js"></script><link href="css/styles.css" rel="stylesheet">  <title>Freak Show TX</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"><style>body { opacity: 0; transition: .25s opacity ease; }</style></head>

<body class="body-initial all-style enable-mobile prevent-resizable prevent-selectable editable-style silex-runtime silex-published" data-current-page="page-home">
  
  
  











  <div class=""></div>




























  






































  




  
  

  
  

  
  
  



















<nav class="editable-style section-element silex-id-1538221038117-34 hide-on-desktop"><div class="editable-style container-element silex-id-1538221038114-33 website-width" title=""></div></nav><div class="editable-style html-element silex-id-1709236986232-3 page-home paged-element paged-element-visible"><div class="silex-element-content">




<title>Freak Show TX</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

<link rel="stylesheet" href="css/styles.css">




<div class="content">
  <input type="submit" onclick="redirectToLogin()" value="Login/Apply">
  <h1>Freak Show TX</h1>
  <p>Get ready to elevate your nightlife experience at the MOST SEDUCTIVE soirée in town! We invite you to join us for
    an unforgettable night of sophistication, sizzling energy, and unrestrained FUN!</p>
  
  <p>Interactive Entertainment: Brace Yourself for a night filled with surprises! From tantalizing performances to
    interactive games, we've curated an experience that will keep you engaged and entertained throughout the evening!
  </p>
  
  <p>All fields required.</p>
  <form action="/submit-form" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" placeholder="Can be nickname" required=""><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required=""><br>
    <label for="phone">Phone Number:</label><br>
    <input type="phone" id="phone" name="phone" required="">
    <label for="time">Preferred Callback Time:</label><br>
    <select id="time" name="time" required="">
      <option value="">Select Time (10AM to 10PM)</option>
      <option value="10:00 AM">10:00 AM</option>
      <option value="10:30 AM">10:30 AM</option>
      <option value="11:00 AM">11:00 AM</option>
      <option value="11:30 AM">11:30 AM</option>
      <option value="12:00 PM">12:00 PM</option>
      <option value="12:30 PM">12:30 PM</option>
      <option value="1:00 PM">1:00 PM</option>
      <option value="1:30 PM">1:30 PM</option>
      <option value="2:00 PM">2:00 PM</option>
      <option value="2:30 PM">2:30 PM</option>
      <option value="3:00 PM">3:00 PM</option>
      <option value="3:30 PM">3:30 PM</option>
      <option value="4:00 PM">4:00 PM</option>
      <option value="4:30 PM">4:30 PM</option>
      <option value="5:00 PM">5:00 PM</option>
      <option value="5:30 PM">5:30 PM</option>
      <option value="6:00 PM">6:00 PM</option>
      <option value="6:30 PM">6:30 PM</option>
      <option value="7:00 PM">7:00 PM</option>
      <option value="7:30 PM">7:30 PM</option>
      <option value="8:00 PM">8:00 PM</option>
      <option value="8:30 PM">8:30 PM</option>
      <option value="9:00 PM">9:00 PM</option>
      <option value="9:30 PM">9:30 PM</option>
      <option value="10:00 PM">10:00 PM</option>
    </select><br><br>
    <label for="message">Message:</label><br>
    <textarea class="big-textarea" id="message" name="message" rows="4" cols="50" required=""></textarea><br><br>
    <input type="submit" value="Submit">
  </form>
</div>


<script>

  function redirectToLogin() {
    window.location.href = '/dashboard';
  }

</script>


</div></div></body></html>