<!doctype html><html lang=""><head>
  <title>Freakshow TX - Login</title>
  <meta charset="UTF-8">
  <meta name="generator" content="Silex v2.2.14">
  <!-- leave this for stats -->
  <script src="js/jquery.js"></script>
  

  
  <script src="js/front-end.js"></script>
  <!-- Normalize -->
  <link href="css/normalize.css" rel="stylesheet">
  <!-- Silex style -->
  <link href="css/front-end.css" rel="stylesheet">

  
  
  
  




























  




  
















































  
  
  
<link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet" class="silex-custom-font"><meta name="viewport" content="width=device-width, initial-scale=1"><link href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" rel="stylesheet"><script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script><script src="js/script.js"></script><link href="css/styles.css" rel="stylesheet">  <title>Freak Show TX</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"><style>body { opacity: 0; transition: .25s opacity ease; }</style></head>

<body class="body-initial all-style enable-mobile prevent-resizable prevent-selectable editable-style silex-runtime silex-published" data-current-page="page-login">
  
  
  











  <div class=""></div>




























  






































  




  
  

  
  

  
  
  



















<nav class="editable-style section-element silex-id-1538221038117-34 hide-on-desktop"><div class="editable-style container-element silex-id-1538221038114-33 website-width" title=""></div></nav><div class="editable-style html-element silex-id-1709239049923-2 page-login paged-element paged-element-visible"><div class="silex-element-content">  <h1>Login</h1>
<form action="/dashboard" method="POST">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required="">
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required="">
  <input type="submit" value="Login">
</form>

<input type="submit" onclick="redirectToApply()" value="Apply Here!">

<script>
  function redirectToApply() {
    window.location.href = '/userCreate';
  }
</script></div></div></body></html>