<!DOCTYPE html>
<html>

<head>
  <title>New User</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h1>Create An Account To Apply</h1>
  <form action="/userCreate" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <label for="password2">Re-enter Password:</label>
    <input type="password" id="password2" name="password2" required>
    <input type="submit" value="Create Account">
</form>
</body>

</html>