<!DOCTYPE html>
<html>
<head>
  <title>Success!</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Success</h1>
  <p id="successMessage"></p>
  <button type="back" onclick="goBack()">Go Back</button>

  <script>
    function goBack() {
      window.history.back(); // Go back to the previous page
    }
  </script>


  <script>
    // Use JavaScript to display the error message
    const successMessage = '<%= successMessage %>'; // Retrieve error message from server-side
    document.getElementById('successMessage').innerText = successMessage;
  </script>
</body>
</html>

