<!doctype html><html lang=""><head>
    <title>Freakshow TX - panel</title>
    <meta charset="UTF-8">
    <meta name="generator" content="Silex v2.2.14">
    <!-- leave this for stats -->
    <script src="js/jquery.js"></script>
    

    
    <script src="js/front-end.js"></script>
    <!-- Normalize -->
    <link href="css/normalize.css" rel="stylesheet">
    <!-- Silex style -->
    <link href="css/front-end.css" rel="stylesheet">

    
    
    
    




























    




    
















































    
    
    
<link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet" class="silex-custom-font"><meta name="viewport" content="width=device-width, initial-scale=1"><link href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" rel="stylesheet"><script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script><script src="js/script.js"></script><link href="css/styles.css" rel="stylesheet">  <title>Freak Show TX</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"><style>body { opacity: 0; transition: .25s opacity ease; }</style></head>

<body class="body-initial all-style enable-mobile prevent-resizable prevent-selectable editable-style silex-runtime silex-published" data-current-page="page-panel">
    
    
    











    <div class=""></div>




























    






































    




    
    

    
    

    
    
    



















<div class="editable-style text-element silex-id-1709241688899-1 page-panel paged-element silex-component-hamburger prevent-resizable prevent-auto-z-index paged-element-visible"><div class="silex-element-content normal">
<!-- inspired by https://codepen.io/erikterwan/pen/EVzeRP -->
<div class="hamburger-menu_1709241998894_694 closed">
    <div class="hamburger-btn ">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="nav-container">
      <div class="prevent-scale">
        <nav class="">
            <ul>
            
                <li><a href="/msg">Messages</a></li>
            
                <li><a href="/submissions">Form Submissions</a></li>
            
                <li><a href="/users">User Management</a></li>
            
                <li><a href="/applications">Applications</a></li>
            
                <li><a href="/logs">Logs</a></li>
            
                <li><a href="/logout">Log Out</a></li>
            
            </ul>
        </nav>
      </div>
  </div>
</div>
<script>
(function() {
  var isOpen = false;
  function close() {
    isOpen = false;
    document.querySelector('.hamburger-menu_1709241998894_694').classList.remove('open');
    document.querySelector('.hamburger-menu_1709241998894_694').classList.add('closed');
  }
  function open() {
    isOpen = true;
    document.querySelector('.hamburger-menu_1709241998894_694').classList.add('open');
    document.querySelector('.hamburger-menu_1709241998894_694').classList.remove('closed');
  }
  function toggle() {
    if(isOpen) close();
    else open();
  }
  function scrollOrResize() {
    close();
    move();
  }
  var silexElement = document.querySelector('.hamburger-menu_1709241998894_694').closest('.editable-style');
  function move() {
    var data = window.silex
    var rect = silexElement.getBoundingClientRect();
    var offset = {
      top: rect.top + data.scrollTop,
      left: rect.left + data.scrollLeft,
    };
    var container = document.querySelector('.hamburger-menu_1709241998894_694 .nav-container');
    container.style.transform = 'translate(' + (data.scrollLeft - (offset.left/data.scale)) + 'px, ' + (data.scrollTop - (offset.top/data.scale)) + 'px)';
  }
  document.querySelector('.hamburger-menu_1709241998894_694 .hamburger-btn').addEventListener('click', function() { toggle(); });
  document.addEventListener('resize', scrollOrResize);
  document.addEventListener('scroll', scrollOrResize);
  scrollOrResize()
  setTimeout(() => scrollOrResize(), 0)
})();
</script>
</div></div></body></html>